@import "../../config";
.hero-image {
    width: 100%;
    padding-top: (274 / 1024) * 100%;
    background-color: map_get($color, disabled);
    position: relative;
}

.hero-image__image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity .6s;
}

.hero-image__image--hidden {
    opacity: 0;
}
.hero-image__image--visible {
    opacity: 1;
}
