@import "../../functions";
@import "../../config";

.poster-image {
    width: 60px;
    padding-top: 60px;
    background-color: map_get($color, disabled);
    position: relative;
}

.poster-image--sm {
    width: 30px;
    padding-top: 30px;
}

.poster-image--md {
    width: 60px;
    padding-top: 60px;
}

.poster-image--lg {
    width: 120px;
    padding-top: 120px;
}

.poster-image__image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity .6s;
}

.poster-image__image--hidden {
    opacity: 0;
}
.poster-image__image--visible {
    opacity: 1;
}

